# Virtual environments
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Type checking
.mypy_cache/

# Editors
.vscode/
.idea/

# OS files
.DS_Store